.recipe {
  display: none;
}
.category {
  margin: 0px;
}
.noPrint {
  display: none;
}
table { border-collapse: collapse; }

body {
  font-size: smaller;
}

ul.recipeIngredientList {font-size:0.7em;}
